<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/gbg_logo.png">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <!-- for titles and stuff link that -->
        <h1 class="title">Goat Breeze Games Website</h1>
    </header>

    <main>
        <!-- for the main content of the page -->
    </main>

    <nav>
        <!-- for news, search bar, updates -->
    </nav>

    <footer>
        <!-- for social links -->
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>

<!-- 
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">ì
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <p>Hello There</p>
    <script src="/js/script.js"></script>
</body>
</html>
 -->